# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale

# Optimized for retina-class 2x displays, like 13" 2.8K, 27" 5K, 32" 6K.

{{- if eq .chezmoi.hostname "ideahost" }}
env = GDK_SCALE,1.75
monitor = eDP-1,preferred,auto,1.6
{{- end }}

{{- if eq .chezmoi.hostname "VAN-PC" }}
env = GDK_SCALE,1.75
monitor = DP-1,2560x1440@60,0x0,1.333334
monitor = HDMI-A-1,3840x2160@60,1920x-50,1.6

workspace = 1, monitor:DP-1
workspace = 2, monitor:DP-1
workspace = 3, monitor:HDMI-A-1
workspace = 4, monitor:HDMI-A-1
workspace = 5, monitor:HDMI-A-1
workspace = 6, monitor:HDMI-A-1
workspace = 7, monitor:HDMI-A-1
{{- end }}

